* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"open sans", sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url("https://pixabay.com/es/images/search/fondo%20de%20color%20liso/");
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: orange;
}
/* HEADER */
header {
    position: relative;
    padding: 2rem;
}

.navbar{
    width: 100px;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}