* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"open sans", sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url("https://pixabay.com/es/images/search/fondo%20de%20color%20liso/");
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: orange;
}