* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"open sans", sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url("https://pixabay.com/es/images/search/fondo%20de%20color%20liso/");
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: orange;
}
/* HEADER */
header {
    position: relative;
    padding: 2rem;
}

.navbar{
    width: 100px;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2re;
}

.navbar .toggle_btn{
color: #fff;
font-size: 1.5rem;
cursor: pointer;
display: none;
}

.action-btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.action-btn:active{
    scale: 0.95;
}

/* DROPDOWN MENU*/
.dropdown_menu{
    position: absolute;
right: 2rem;
top: 60px;
width: 300px;
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(15px);
border-radius: 10px;
}

/* RESPONSITIVE DESING*/
@media(max-width 992px){
    .navbar  .links,
    .navbar .action-btn{
        display: none;
    }


.navbar.toggle_btn{
display: block;
}
}